
data/full-cover-09-April-2018.csv
data/processed/cross_vs_time_variation_histograms.pdf
data/processed/NutNetCoverData_ProcessedAug2019-2.csv
ProcessedMechanismAnalysisData.csv
.DS_Store
.DS_Store
data/.DS_Store
data/cutoff1_species.csv
data/cutoff2_species.csv
data/NutNetCoverData_ProcessedFinal.csv
data/printNAbysite.csv
data/processed/file naming notes.txt
data/processed/NutNet_Prepped.csv
data/processed/NutNet_Prepped.dta
data/processed/NutNetControlPlotData_v201804.csv
